<div *ngIf="currentList" class="items_container">
    <table *ngIf="currentList.length">
        <tr>
            <th *ngFor="let header of currentHeader">
                {{header | titlecase}}
            </th>
        </tr>
        <tr *ngFor="let i of currentList">
            <td *ngFor="let header of currentHeader">
                <ng-container *ngIf="header === 'amount' ">
                    {{i[header]}}
                </ng-container>
                <ng-container *ngIf="header === 'type' || header === 'name'">
                    {{i[header] | titlecase}}
                </ng-container>
                <ng-container *ngIf="header === 'transactDate'">
                    {{i[header] | date:'MMMM dd, YYYY':'UTC'}}
                </ng-container>
            </td>
        </tr>
    </table>

    <div class="item_container">
        <h1>You don't have any transactions in our records!</h1>
    </div>

    <div class="purchaseFormContainer">
        <app-purchaseform></app-purchaseform>
    </div>
</div>